#Offer {
    padding-top: 150px;
    padding-bottom: 150px;
}

.offer-container {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
}

.offer-container-upper, .offer-container-lower {
    display: flex;
    justify-content: space-between;
}

.offer-container-box {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-container-first-text-wrapper {
    text-align: center;
}

.offer-container-second-text-wrapper {
    text-align: center;
}

.offer-container-second-text-wrapper span {
    color: #5200EE;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.offer-container-second-text-wrapper span:hover {
    font-size: 26px;
}

.offer-container-box img {
    width: 100%;
    border: 2px solid white;
}

.offer-container-box h1 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 5px;
}

.offer-container-box h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 2px;
}







