#Offer {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #e8f0fe;
}

.offer-container {
    background-color: white;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
}

.offer-container-upper, .offer-container-lower {
    display: flex;
    justify-content: space-between;
}

.offer-container-box {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-container-first-text-wrapper {
    text-align: center;
}

.offer-container-second-text-wrapper {
    text-align: center;
}

.offer-container-second-text-wrapper span {
    color: #9395b9;
    cursor: pointer;

}

.offer-container-second-text-wrapper span:hover {
    color: #fabf3a;
}

.offer-container-box img {
    width: 100%;
}

.offer-container-box h1 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 5px;
}

.offer-container-box h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 2px;
}







